.venv/
neural_env/.venv/

__pycache__/
*.pyc

data/models/sentiment-roberta/
neural_env/assets/hubert_base/
assets/rmvpe/
data/models/whisper/
assets/synthesis_models/
*.pt
*.pth
*.bin
*.safetensors

.DS_Store