# Python virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# ML models and model weights
data/models/
assets/rmvpe/
assets/synthesis_models/
assets/female2/

*.pt
*.pth
*.bin
*.safetensors
*.ckpt
*.onnx

# Model/cache directories
.cache/
huggingface/
**/models--*/

# audio files
synthesis/VocalSet11
synthesis/source_takes
synthesis/(DSP) Robot Vocals

# macOS
.DS_Store