setuptools
wheel
numpy>=1.24.0
scipy>=1.11.0
sounddevice>=0.4.6
librosa>=0.10.1
resampy>=0.4.2
pyyaml>=6.0.1
loguru>=0.7.2
music21>=9.1.0
aubio>=0.4.9
fastapi>=0.110.0
uvicorn[standard]>=0.27.0
python-multipart>=0.0.9

--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentencepiece>=0.1.99
morfessor>=2.0.6

requests>=2.31.0
soundfile>=0.12.1

hfst

transformers>=4.40.0
vaderSentiment>=3.3.2

openai-whisper